<mat-tab-group>
  <mat-tab label="Login">
    <form [formGroup]="signinForm" (ngSubmit)="signin()" fxLayout="column">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="pwd" />
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </mat-tab>
  <mat-tab label="Signup">
    <form [formGroup]="signupForm" (ngSubmit)="signup()" fxLayout="column">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="pwd" />
      </mat-form-field>
      <button mat-raised-button color="accent">Signup</button>
    </form>
  </mat-tab>
</mat-tab-group>
