table {
    width: 100%;
}

.total {
    text-align: right;
}

.success-message {
    text-align: center;
    font-weight: bolder;
    color: green;
}

.noitem-message {
    text-align: center;
    font-weight: bold;
}

.back-button:hover {
    background-color: #f9e490;
}

.detail-button:hover {
    background-color: #8e71b7;
}

.remove-button:hover  {
    background-color: #ea8a83;
}