<br>
<button class="back-button" mat-raised-button color="accent" routerLink="/home"><b>Get back to the list</b></button>
<br>
<br>

<form *ngIf="videogame$ | async as videogame, else empty" [formGroup]="form" (ngSubmit)="updateVideogame(videogame)"  fxLayout="column" fxLayoutAlign="center none" >
    <mat-form-field>
      <input matInput type="text" placeholder="Game title" formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game developer" formControlName="developer"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game publisher" formControlName="publisher"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Game genre" formControlName="genre">
        <mat-option *ngFor="let genre of genreList" [value]="genre">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game release date" formControlName="releaseDate"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Game age rating" formControlName="rating">
        <mat-option *ngFor="let rating of ratingList" [value]="rating">
          {{rating}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game cover" formControlName="cover"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game price" formControlName="price"/>
    </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="submit-button">Update {{videogame.title}}</button>
  </form>

<ng-template #empty>
  <form [formGroup]="form" (ngSubmit)="addVideogame()"  fxLayout="column" fxLayoutAlign="center none" >
    <mat-form-field>
      <input matInput type="text" placeholder="Game title" formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game developer" formControlName="developer"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game publisher" formControlName="publisher"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Game genre" formControlName="genre">
        <mat-option *ngFor="let genre of genreList" [value]="genre">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game release date" formControlName="releaseDate"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Game age rating" formControlName="rating">
        <mat-option *ngFor="let rating of ratingList" [value]="rating">
          {{rating}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game cover" formControlName="cover"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game price" formControlName="price"/>
    </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="submit-button">Add videogame</button>
  </form>
</ng-template>
