mat-card {
    width: 40%;
    margin: auto;
    background-color: #F1E7FB;
}

.back-button:hover {
    background-color: #f9e490;
}

.add-button:hover {
    background-color: #8e71b7;
}

.action-buttons {
    text-align: center;
}