<div class="container full-body">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="toolbar-title" routerLink="/home"><b>THE VIDEOGAME PALACE</b></span>
    <span class="spacer"></span>
    <span *ngIf="user$ | async as user" fxLayout="row">
    <button mat-raised-button color="accent" (click)="addVideogame()"><b>ADD A GAME</b></button>
    <p class="cart-text">My shopping cart :</p>
    <button mat-fab routerLink="/shopping-cart"><mat-icon matBadge="{{(cartItems | async).length}}" matBadgeColor="warn">shopping_cart</mat-icon><br></button>
    </span>
    <app-connexion-tools (loggedOut)="logout()"></app-connexion-tools>
  </mat-toolbar-row>
</mat-toolbar>
</div>
<router-outlet></router-outlet>
