.icon {
    padding: 0 10px;
}

button {
  margin-left: 20px;
  margin-right: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.cart-text {
    font-size: 80%;
    font-weight: bold;
    margin-left: 20px;
    margin-right: -10px;
    margin-top: 13px;
}

button:hover {
    background-color: #f9e490;
}

.item-count {
    margin-top: -5px;
    font-size: 75%;
}

.toolbar-title {
    padding: 5px;
    border-radius : 5px;
    color: #f9d84f;
    text-shadow: 2px 2px black;
    cursor: pointer;
}

.full-body {
    background-color: white;
}
