table {
    width : 100%;
}

th.mat-header-cell {
    font-weight: bolder;
    font-size: 90%;
}

.sucess-message {
    font-weight: bolder;
    color: green;
    text-align: center;
}

.nogames-message {
    font-weight: bolder;
    color: #6C36B3;
    text-align: center;
}

h3 {
    text-align: center;
}

.material-icons {
    color: white;
}

.update-button:hover {
    background-color: #f9e490;
}

.detail-button:hover {
    background-color: #8e71b7;
}

.remove-button:hover  {
    background-color: #ea8a83;
}