<div class="body-list">

  <!-- TITLE AND MESSAGES -->

  <div class="header-text">
    <h3>Stay awhile, and take a look at our awesome games</h3>
    <p class="success-message" *ngIf="isDeleted == true">The game has successfully been deleted.</p>
  </div>

<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card *ngFor="let videogame of videogameList$ | async">
    <mat-card-header>
      <mat-card-title>{{videogame.title}}</mat-card-title>
      <mat-card-subtitle>{{videogame.genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{videogame.cover}}" alt="Videogame cover" (click)="selectVideogame(videogame)">
    <mat-card-content>
      <p>{{videogame.price}}</p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-around">
        <span class="action-button">
          <button class="detail-button" color="primary" mat-raised-button (click)="selectVideogame(videogame)">
            Game details
          </button>
        </span>
        <span class="action-button">
          <button class="update-button"color="accent" mat-raised-button (click)="updateVideogame(videogame)">
            Update game
          </button>
        </span>
        <span class="action-button">
          <button class="remove-button" color="warn" mat-raised-button (click)="deleteVideogame(videogame)">
            Remove game
          </button>
        </span>
    </mat-card-actions>
  </mat-card>
</div>
  <ng-template #empty >
      <p class="nogames-message">There are no games in our store, come back later guys.</p>
  </ng-template>
<br>
</div>
