mat-card {
  margin-bottom: 3%;
}

.success-message {
    font-weight: bolder;
    color: green;
    text-align: center;
    font-size: 50%;
}

.nogames-message {
    font-weight: bolder;
    color: #6C36B3;
    text-align: center;
    font-size: 70%;
}

h3 {
    text-align: center;
}

.material-icons {
    color: white;
}

.update-button:hover {
    background-color: #f9e490;
}

.detail-button:hover {
    background-color: #8e71b7;
}

.remove-button:hover  {
    background-color: #ea8a83;
}

img {
    width: 300px;
    height: 400px;
    border: 3px solid #6C36B3;
    cursor: pointer;
    object-fit: cover;
    margin: auto;
}

.action-button {
    margin-top: 10px;
    font-weight: bold;
}

.action-text {
    font-weight: bold;
    font-size: 30%;
}

.informations {
    font-size: 150%;
}

.game-title {
    font-weight: bold;
    text-transform: uppercase;
}
