<br>
<button class="back-button" mat-raised-button color="accent" routerLink="/home"><b>Get back to the list</b></button>
<br>
<br>
<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div>
      <label for="title">Title</label>
      <input matInput placeholder="Game title" id="title" formControlName="title" type="text" class="form-control"
        required>
  </div>

  <div>
      <label for="developer">Developer</label>
      <input matInput placeholder="Game developer" id="developer" formControlName="developer" type="text" class="form-control"
        required>
  </div>

  <div>
      <label for="publisher">Publisher</label>
      <input matInput placeholder="Game publisher" id="publisher" formControlName="publisher" type="text" class="form-control"
        required>
  </div>

  <div>
    <label for="genre">Genre</label>
    <select placeholder="Game genre" id="genre" formControlName="genre" type="text" class="form-control"
      required>
      <option [ngValue]="null">Game genre</option>
      <option *ngFor="let genre of genreList">{{genre}}</option>
    </select>
</div>

  <div>
      <label for="releaseDate">Release date</label>
      <input matInput placeholder="DD/MM/YYYY" id="releaseDate" formControlName="releaseDate" type="text" class="form-control"
        required>
  </div>

  <div>
      <label for="rating">Rating</label>
      <select placeholder="Game age rating" id="rating" formControlName="rating" type="text" class="form-control"
        required>
        <option [ngValue]="null">Game age rating</option>
        <option *ngFor="let rating of ratingList">{{rating}}</option>
      </select>
  </div>

  <div>
      <label for="cover">Cover</label>
      <input matInput placeholder="Enter cover img URL" id="cover" formControlName="cover" type="text" class="form-control"
        >
  </div>

  <div>
      <label for="price">Price (in €)</label>
      <input matInput placeholder="Game price" id="price" formControlName="price" type="text" class="form-control"
        required>
  </div>
  <br>
  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Add game</button>
</form>