<br>
<button class="back-button" mat-raised-button color="accent" routerLink="/home"><b>Get back to the list</b></button>
<br>
<br>

<form *ngIf="videogame$ | async as videogame, else empty" [formGroup]="form" (ngSubmit)="updateVideogame(videogame)"  fxLayout="column" fxLayoutAlign="center none" >
    <mat-form-field>
      <input matInput type="text" placeholder="Game title" formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game developer" formControlName="developer"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game publisher" formControlName="publisher"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game genre" formControlName="genre"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game release date" formControlName="releaseDate"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game rating" formControlName="rating"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game cover" formControlName="cover"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game price" formControlName="price"/>
    </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Update {{videogame.title}}</button>
  </form>

<ng-template #empty>
  <form [formGroup]="form" (ngSubmit)="addVideogame()"  fxLayout="column" fxLayoutAlign="center none" >
    <mat-form-field>
      <input matInput type="text" placeholder="Game title" formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game developer" formControlName="developer"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game publisher" formControlName="publisher"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game genre" formControlName="genre"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game release date" formControlName="releaseDate"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game rating" formControlName="rating"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game cover" formControlName="cover"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Game price" formControlName="price"/>
    </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add videogame</button>
  </form>
</ng-template>
